body {
    margin: 10px 400px 10px 350px;
    background-color: #dfdfdf5d;
  }
  
  .tepa {
    display: flex;
    justify-content: space-between;
  }
  
  .ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
    color: aliceblue;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  .sss {
      border: 2.5px solid rgb(177, 177, 177);
      margin: 10px 0px 10px 0px;
      padding: 0px 10px 0px 10px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      background-color: rgb(0, 0, 0);
      border-radius: 15px;
  }
  .bib {
    color: aliceblue;
  }
  .urta {
      display: flex;
      gap: 150px;
      padding: 50px 0px 0px 0px;
  }
  .btn1 {
    display: flex;
    gap: 10px;
  }
  .sss1 {
    border: 2.5px solid rgba(245, 156, 24, 0.767);
    margin: 13px 0px 25px 0px;
    padding: 10px 30px 10px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(245, 156, 24, 0.767);
    border-radius: 20px;
  }
  .all {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .amg {
    display: flex;
    gap: 20px;
  }
  .bit {
    color: rgb(121, 117, 117);
  }
  .h2s {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: line-through;
    color: rgb(160, 156, 156);
  }
  .h1w {
    font-family: Arial, Helvetica, sans-serif;
  }
  .h1s {
    font-family: Arial, Helvetica, sans-serif;
  }
  .list2 {
    display: flex;
    gap: 100px;
  }
  .sad {
    display: flex;
    gap: 20px;
    padding: 150px 0px 0px 0px;
  }
  .ppp {
    border: 2.5px solid rgba(245, 156, 24, 0.767);
    margin: 13px 0px 25px 0px;
    padding: 10px 30px 10px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(245, 156, 24, 0.767);
    border-radius: 20px;
  }
  .pp {
    border: 2.5px solid rgba(231, 164, 201, 0.767);
    margin: 13px 0px 25px 0px;
    padding: 10px 30px 10px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(231, 164, 201, 0.767);
    border-radius: 20px;
  }
  .xt {
    font-size: 31px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .er {
    font-size: 23px;
  }
  .rem {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
  }
  .Used {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
  }
  .teg {
    display: flex;
    gap: 20px;
    padding: 5px 50px 5px 385px;
  }
  .xrom {
    display: flex;
    border: 2.5px solid rgba(3, 3, 3, 0.767);
    margin: 13px 0px 25px 0px;
    padding: 10px 50px 10px 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(221, 221, 221, 0.767);
    border-radius: 10px;
  }
  .fire {
    display: flex;
    gap: 10px;
    border: 2.5px solid rgba(3, 3, 3, 0.767);
    margin: 13px 0px 25px 0px;
    padding: 10px 50px 10px 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(221, 221, 221, 0.767);
    border-radius: 10px;
  }
  .you {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(160, 156, 156);
  }
  .gug {
    display: flex;
    justify-content: space-between;
    padding: 5px 100px 5px 100px;
  }
  .ai {
    display: flex;
    justify-content: space-between;
    padding: 5px 300px 5px 300px;
  }
  .kom {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
  .fer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
  }
  .tlk {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }
  .git {
    display: flex;
    justify-content: space-between;
    padding: 10px 150px 10px 150px ;
  }
  ul {
    list-style: none;
  }
  h4{
    padding: 0px 50px 0px 40px;
  }
  .tuga {
    display: flex;
    justify-content: space-between;
  }
  .tuga2 {
    display: flex;
    gap: 20px;
  }